.btnbutton{
    border-radius: 6.25rem;
    border: 2.7px solid #48919f;
    text-decoration: none;
    color: #3a8080;
    padding: 5px;
   
}

.divBoton{


    display: flex;
    justify-content: center;
width: 100%;
min-height: 1.5rem;
height: auto;


}